<h1 style ="text-align:center;background-color:#EEEEEE;color:red;"> Welocme to My OwnBlog</h1>
<div style ="background-color:#EEE000; height:30px;,color:red;text-align:center">
<%= link_to "Cilck to enter Blog" ,posts_path %>

<div>
<br/>
<%= link_to "Users !" ,users_path %>
</div>

